{% extends 'base.html' %}

{% block content %}

<body>
    <div class="mijoz-1"> Sayt haqida!</div>
    <div class="about-text">
    Assalomu alaykum! <br>
    Siz hozirda "Muxammadiyev Bo'ron" xususiy firmasini rasmiy sahifasidasiz. Bu firma turli xil Texnika xizmatlarini ko'rsatadi.
    Sizga Pagurchik(Yuklovchi), Kamaz(30 t), Avto Kran(50 t), Samasual-kamaz, Ekskavator xizmatlarini taklif qiladi. 
    Sizga kerakli texnika xizmatlari bizda mavjud bo'lmasa ham biz sizga yordam bera olamiz.
    Chunki har qanday turdagi texnika xizmatlarini sizga oson va arzon narxlarda taklif qila olamiz.</div>
    <hr>
    <div class="about-text ul">
        <ol>
            <li>Pagurchik</li>
            <li>Avto Kran</li>
            <li>Ekskavator</li>
            <li>Kamaz</li>
            <li>Samasual</li>
        </ol>
    </div>
    <br><br><br><br>
</body>

{% endblock content %}